
html {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}
.header-container{
    display: flex;
    border-bottom: 1px solid gray; 
    justify-content: space-around;
    font-weight: bold;
    font-size: 0.8rem;
    font-weight: 500;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    align-items: center;
    position: sticky;
    top:0;
    background: #FFFFFF;
}

.header-image{
    width: 8em;
}

.nav-button {
    display: flex;
    background-color: white;
    border-radius: 30px;
    padding: 0px 1.2rem;
    height: 2.5rem;
    border: 2px solid black;
    font-size: 0.8rem;
    width: 4.5rem;
    align-content: center;
    justify-content: center;
    font-weight: 500;
}
.nav-button:hover{
    background: #000000;
    color: #FFFFFF;
    cursor: pointer;

}

nav ul{
    display: flex;
    justify-content: flex-end;
    width: 55rem;
    align-items: center;
}

nav ul li{
    list-style: none;
    margin-left: 2rem;
    align-items: center;
}

nav ul li:hover{
    color: #8246CD;
    cursor: pointer;
}
.container-title{
    flex-direction: column;
    height: 18rem;
    width: 45%;
    margin: 2rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
h1{
   text-align: center;
    font-size:1.8rem;
}

.button-container{
    display: flex;
    justify-content: space-between;
    margin-top: 1.3rem;
    width: 17rem;

}
.button-title{
    background-color: white;
    border-radius: 30px;
    padding: 0px 1.2rem;
    height: 2.5rem;
    border: 2px solid black;
    font-size: 0.8rem;
    width: 8.8rem;
    align-content: center;
    justify-content: center;
    font-weight: 500;
}
.button-title:hover{
    background: #000000;
    color: #FFFFFF;
    cursor: pointer;

}
.button-title-alter{
    color: #8246CD;
    background-color: white;
    border-radius: 30px;
    padding: 0px 1.2rem;
    height: 2.5rem;
    border: 2px solid #8246CD;
    font-size: 0.8rem;
    width: 7rem;
    align-content: center;
    justify-content: center;
    font-weight: 500;

}

.button-title-alter:hover{
background: #8246CD;
   color: white;
   cursor: pointer;
}
.container{
    background: #17202A;
    height: 300rem;
}








@media (width >= 2500px) {
    html {
        font-size: 28px;
    }
}

@media (width >= 3500px) {
    html {
        font-size: 32px;
    }
}
